<!-- app/views/home/index.html.erb -->
<div class="min-h-screen flex flex-col justify-between bg-white">
  <header class="py-6 px-4 sm:px-8 flex justify-between items-center border-b">
    <h1 class="text-xl font-bold text-[#0F4FE6]">ShutterSuites</h1>
    <nav class="space-x-4">
        <%= link_to "Login", login_redirect_path, class: "text-blue-600 hover:underline font-medium" %>
        <%= link_to "Get Started", new_tenant_registration_path, class: "w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md font-medium" %>
    </nav>
  </header>

  <main class="flex-grow flex flex-col items-center justify-center text-center px-4">
    <section class="bg-white py-12 px-6 sm:px-8 lg:px-12">
        <div class="max-w-xl mx-auto text-center">
            <h1 class="text-3xl sm:text-4xl font-extrabold text-gray-900 leading-tight mb-4">
            Power your photography business
            </h1>
            <p class="text-gray-600 text-base sm:text-lg mb-6">
            Manage your customers, bookings, galleries, and team — all from one dashboard built for studios like yours.
            </p>

            <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
            <%= link_to "Login", login_redirect_path, class: "text-blue-600 font-medium hover:underline" %>
            <%= link_to "Get Started", new_tenant_registration_path, class: "bg-indigo-600 text-white px-5 py-2 rounded-md hover:bg-indigo-700 font-medium" %>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <div class="w-full max-w-3xl mt-12">
      <h3 class="text-2xl font-semibold mb-6 text-gray-800">What studios are saying</h3>
      <div class="grid gap-6 sm:grid-cols-2">
        <div class="bg-gray-50 border border-gray-200 p-4 rounded shadow-sm text-left">
          <p class="text-gray-700 italic">"ShutterSuites has made our bookings and customer management seamless. Highly recommended!"</p>
          <p class="text-sm font-semibold text-gray-600 mt-4">– 363photography</p>
        </div>
        <div class="bg-gray-50 border border-gray-200 p-4 rounded shadow-sm text-left">
          <p class="text-gray-700 italic">"From scheduling to sales, everything just works. It’s been a game changer."</p>
          <p class="text-sm font-semibold text-gray-600 mt-4">– abuphotogallery</p>
        </div>
      </div>
    </div>
  </main>

  <footer class="py-4 text-center text-sm text-gray-400 border-t">
    Powered by ShutterSuites
  </footer>
</div>
